__pycache__/
my_cookies.py
moodle_quiz
collected_freeform_2020
collected_freeform_2020_remaining
prompt_files
moodle_quiz2
*.txt
*.zip
backup/*
!backup/.gitkeep
outputs/*
!outputs/.gitkeep
.vscode
rubric_quiz.py
*.html
!template.html
*.xml